
# Ignore these directories
minecraft/natives/*
minecraft/.mixin.out/*
minecraft/backup/*
minecraft/backups/*
minecraft/config/*
minecraft/crash-reports/*
minecraft/ct_dumps/*
minecraft/journeymap/*
minecraft/local/*
minecraft/logs/*
minecraft/mods*/*
minecraft/natives/*
minecraft/output/*
minecraft/saves/*
minecraft/shaderpacks/*
minecraft/screenshots/*
minecraft/XaeroWorldMap/*
minecraft/XaeroWaypoints/*
natives/*
server/backup/*
server/backups/*
server/config/*
server/crash-reports/*
server/config/defaultoptions/*
server/libraries/*
server/local/*
server/logs/*
server/maessentials/players/*
server/ma-essentials/players/*
server/mods
server/mods/*
server/world/*
server/world*

# Ignore these files
builds/*(copy).zip
minecraft/ESM/*
minecraft/resourcepacks/Quark Programmer Art.zip
minecraft/XaeroWaypoints*
minecraft/.vote2020_marker
minecraft/BotaniaVars.dat
minecraft/instance.cfg
minecraft/instance.json
minecraft/docs/.~lock.*
minecraft/instance.cfg
minecraft/ops.json
minecraft/options.txt
minecraft/optionsof.txt
minecraft/optionsshaders.txt
minecraft/patchouli_data.json
minecraft/realms_persistence.json
minecraft/reauth.toml
minecraft/screenshots/*
minecraft/servers.dat_old
minecraft/soundsMuffled.dat
minecraft/TrashSlotSaveState.json
minecraft/usercache.json
minecraft/usernamecache.json
server/.mixin.out/*
server/maessentials/homes/*
server/auto_restart/restart
server/whitelist.json
server/minecraft_server*.jar
server/server.json
server/mods_0.1.tar.gz
server/banned-ips.json
server/banned-players.json
server/eula.txt
server/forge.jar
server/ops.json
server/maessentials/data.json
server/sic-server*.zip
server/usernamecache.json
server/*.tar.xz
server/usercache.json
minecraft/knownkeys.txt
instance.cfg
*.log
*.code-workspace
*.disabled
*.pdat
*_0.*
server/minecraft_server.1.15.2.jar
*.properties
minecraft/config/ProjectEssentials/general.properties
modlist.html

# Do not ignore these directories
!minecraft/config/defaultoptions
!minecraft/config/fancymenu
!minecraft/config/ftbquests
!minecraft/config/saveandloadinventories
!minecraft/config/starterkit
!server/config/ftbquests

# Do not ignore these files
!minecraft/config/forge-client.toml
!minecraft/config/ftbchunks-client.toml
!minecraft/config/ftbultimine-common.toml
!minecraft/config/gobber-general.toml
!minecraft/config/quark-common.toml
!minecraft/config/theoneprobe-client.toml
!minecraft/config/waystones-*.toml
!minecraft/config/xaerominimap.txt
!server/config/auto_restart.toml
!server/config/forge-client.toml
!server/config/gobber-general.toml
!server/config/shutdowner-common.toml
!minecraft/config/gobber-general.toml
!server/config/quark-common.toml
!server/server.properties
!mmc-pack.json
